/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
storage/log
storage/public
.env
.phpunit.result.cache

# NUXT FILES
client/.*
package-lock.json
package-lock.json
storage/framework/cache/*
storage/logs/*
package-lock.json
yarn.lock
.devcontainer/devcontainer.json
.gitignore
.idea/*
.idea/vcs.xml
.nuxt/*
.gitignore
.vscode/*
port/*
.history/*
.output/*